body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #fff;
    color: rgba(20, 19, 69, 0.8);
}

.container--big,
.container {
    margin: 0 auto;
    padding: 0 10px;
}

.container--big {
    max-width: 1735px;
}

.container {
    max-width: 1296px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding: 24px;
    margin-bottom: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #141345;
}

.menu__item:not(:last-child) {
    margin-right: 32px;
}

.menu__link--active {
    color: #433FB5;
}

.top {
    margin-bottom: 160px;
}

.top__title {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.top__title--big {
    font-size: 368px;
    line-height: 336px;
    color: #433FB5;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    margin-right: 20px;
}

.top__title--small {
    display: block;
    font-weight: 600;
    font-size: 72px;
    line-height: 71px;
    color: #141345;
    text-transform: uppercase;
}

.top__title--small:not(:last-child) {
    margin-bottom: 35px;
}

.top__content {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.top__text {
    max-width: 628px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    margin-right: 40px;
}

.top__link {
    max-width: 608px;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #433FB5;
    border-radius: 48px;
    padding: 16px;
}