body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #fff;
    color: rgba(20, 19, 69, 0.8);
}

.container--big,
.container {
    margin: 0 auto;
    padding: 0 10px;
}

.container--big {
    max-width: 1735px;
}

.container {
    max-width: 1296px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 65px;
}

.link--light {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #433FB5;
    background-color: #fff;
    border-radius: 32px;
    padding: 12px 40px 12px 16px;
    position: relative;
}

.link--light::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    background-image: url(../images/icons/arrow-diagonal.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.link--violet {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #433FB5;
    padding: 16px 32px;
    border-radius: 48px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #141345;
    margin-bottom: 64px;
}

.header {
    padding: 24px;
    margin-bottom: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #141345;
}

.menu__item:not(:last-child) {
    margin-right: 32px;
}

.menu__link--active {
    color: #433FB5;
}

.top {
    margin-bottom: 160px;
}

.top__title {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.top__title--big {
    font-size: 368px;
    line-height: 336px;
    color: #433FB5;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    margin-right: 20px;
}

.top__title--small {
    display: block;
    font-weight: 600;
    font-size: 72px;
    line-height: 71px;
    color: #141345;
    text-transform: uppercase;
}

.top__title--small:not(:last-child) {
    margin-bottom: 35px;
}

.top__content {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.top__text {
    max-width: 628px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    margin-right: 40px;
}

.top__link {
    max-width: 608px;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #433FB5;
    border-radius: 48px;
    padding: 16px;
}

.partners {
    max-width: 830px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 160px;
}

.partners__item {
    margin: 0 28px 16px 28px;
}

.description__inner {
    background-color: #fff;
    border-radius: 40px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.description__content {
    max-width: 548px;
    width: 100%;
}

.description__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #141345;
    margin-bottom: 24px;
}

.description__text {
    margin-bottom: 24px;
}

.description__link {
    background-color: #F0EEFC;
}

.description__list {
    max-width: 488px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 40px;
    color: #433FB5;
}

.description__item {
    line-height: 32px;
}

.description__number {
    display: block;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

.services {
    position: relative;
    top: -50px;
    margin-bottom: 160px;
}

.services__inner {
    display: flex;
}

.services__item {
    border-radius: 40px;
    background-color: #21205A;
    color: rgba(240, 238, 252, 0.8);
    font-weight: 600;
    padding: 40px;
}

.services__title {
    font-size: 20px;
    margin-bottom: 40px;
}

.expertise {
    max-width: 412px;
    width: 100%;
    margin-right: 20px;
}

.expertise__item,
.technologies__item {
    font-size: 16px;
}

.expertise__item:not(:last-child) {
    margin-bottom: 8px;
}

.technologies {
    max-width: 844px;
    width: 100%;
}

.technologies__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.orientation {
    display: block;
    margin-bottom: 8px;
}

.orientation__list {
    max-width: 244px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.orientation__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    position: relative;
}

.orientation__item::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 3px;
    left: -11px;
    top: 40%;
    background-color: rgba(240, 238, 252, 0.8);
    border-radius: 50%;
}

.orientation__item:first-child::after {
    display: none;
}

.orientation__item:not(:last-child) {
    margin-right: 20px;
}

.events {
    margin-bottom: 160px;
}

.events__title {
    margin-bottom: 56px;
}

.events__item {
    margin-right: 20px;
}

.article {
    max-width: 412px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    background-color: #F0EEFC;
    color: #141345;
    border-radius: 40px;
}

.article__top {
    position: relative;
}

.article__img {
    width: 100%;
    border-radius: 40px 40px 0 40px;
}

.article__link {
    position: absolute;
    top: 5%;
    right: 5%;
}

.article__bottom {
    padding: 20px 16px 40px 16px;
}

.article__time {
    display: block;
    margin-bottom: 12px;
}

.article__title {
    font-size: 18px;
    margin-bottom: 4px;
}

.slick-prev,
.slick-next {
    width: 48px;
    height: 48px;
    top: -20%;
}

.slick-next {
    right: 20px;
}

.slick-prev {
    left: auto;
    right: 90px;
}

.connect {
    margin-bottom: 160px;
}

.connect__inner {
    max-width: 844px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.connect__inner::before {
    content: '';
    position: absolute;
    width: 145px;
    height: 79px;
    right: 15%;
    bottom: -10%;
    background-image: url("../images/icons/arrow-connect.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.connect__title {
    margin-bottom: 32px;
}

.connect__text {
    color: #141345;
    margin-bottom: 44px;
}